$main-color: black;
$white-color: white;
$grey-color: #545454;

$section-padding: 19px;

@mixin font {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

@mixin font-cards {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  color: $main-color;
}

@mixin section {
  box-sizing: border-box;
  padding-left: $section-padding;
  padding-right: $section-padding;
  width: 100%;
  max-width: 880 + 19 * 2 + px;
}

@mixin base-button {
  display: block;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
}

.page {
  position: relative;
  background-color: $main-color;

  &__position-center {
    margin: 0 auto;
  }

  &__position-bottom {
    margin-bottom: 36px;
  }

  &__position-bottom-footer {
    margin-bottom: 60px;
  }
}

.header {
  @include section;
  position: relative;
  padding-top: 45px;
  padding-bottom: 41px;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 100%;
    max-width: 880px;
    height: 1px;
    background-color: rgba($grey-color, $alpha: .7);

    @media screen and (max-width: 913px) {
      left: 0;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__logo {
    width: 142px;
    height: 33px;
    object-fit: cover;
  }
}

.content {
  display: block;

  &__position-center {
    margin: 0 auto;
  }

  &__position-bottom-profile {
    margin-bottom: 52px;
  }

  &__position-bottom-place {
    margin-bottom: 67px;
  }
}

.profile {
  @include section;
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-areas:
      'link-img about'
      'add-card-place add-card-place';
    justify-content: center;
  }

  @media screen and (max-width: 506px) {
    grid-template-areas:
      'link-img'
      'about'
      'add-card-place';
  }

  &__link-img {
    text-decoration: none;
    margin-right: 30px;
    grid-area: link-img;

    @media screen and (max-width: 506px) {
      margin: 0 auto 22px;
    }
  }

  &__img {
    display: block;
    background-color: #C4C4C4;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  &__about {
    display: flex;
    align-items: baseline;
    grid-area: about;

    @media screen and (max-width: 700px) {
      margin-bottom: 36px;
    }

    @media screen and (max-width: 506px) {
      margin: 0 auto;
      margin-bottom: 36px;
    }
  }

  &__container-text {
    margin-right: 18px;
    max-width: 300px;

    @media screen and (max-width: 384px) {
      margin-right: 10px;
    }
  }

  &__title-name {
    @include font;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: $white-color;
    margin-bottom: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;

    @media screen and (max-width: 768px) {
      max-width: 270px;
    }

    @media screen and (max-width: 384px) {
      max-width: 190px;
    }
  }

  &__subtitle-does {
    @include font;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $white-color;
  }

  &__edit-btn {
    @include base-button;
    width: 24px;
    height: 24px;
    border: 1px solid $white-color;
    background-image: url(../images/icons/profile-btn-edit.svg);
    background-size: 10px 10px;
    transition: opacity .2s ease-out;

    &:hover {
      opacity: .6;
    }
  }

  &__add-card-place {
    @include base-button;
    width: 150px;
    height: 50px;
    border: 2px solid $white-color;
    margin-left: auto;
    background-image: url(../images/icons/profile-btn-add.svg);
    background-size: 22px 22px;
    grid-area: add-card-place;
    transition: opacity .3s ease-out;

    &:hover {
      opacity: .6;
    }

    @media screen and (max-width: 506px) {
      min-width: 282px;
      margin: 0 auto;
    }
  }
}

.place {
  @include section;

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    column-gap: 17px;
    row-gap: 20px;
  }

  &__item {
    background-color: transparent;
  }
}

.card-place {
  min-height: 361px;
  border-radius: 10px;
  overflow: hidden;
  background-color: $white-color;
  display: grid;
  align-items: baseline;
  grid-template-areas:
    'image image'
    'title button';

  &__img {
    width: 100%;
    height: auto;
    grid-area: image;
  }

  &__title {
    @include font;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
    grid-area: title;
    max-width: 200px;
    margin: 25px 0 20px 20px;

    /* Незнакомые свойства */
    /* Определяет параметры видимости текста в блоке. ellipsis - текст обрезается и к концу строки добавляется многоточие. */
    text-overflow: ellipsis;
    // Игнорирование пробелов. Весь текст отображается одной строкой, не переноситься
    white-space: nowrap;
    overflow: hidden;
  }

  &__like-btn {
    @include base-button;
    background-image: url(../images/icons/card-place-like.svg);
    background-size: cover;
    width: 22px;
    height: 19px;
    margin-right: 20px;
    margin-left: auto;
    grid-area: button;
    transition: opacity .2s ease-out;

    &:hover {
      opacity: .5;
    }

    &_active {
      background-image: url(../images/icons/card-place-like-active.svg);

      &:hover {
        opacity: 1;
      }
    }
  }
}

.footer {
  @include section;

  &__text-copyright {
    @include font;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $grey-color;
  }
}

.popup {
  display: none;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  background-color: rgba($main-color, $alpha: .5);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 19px;

  &_opened {
    display: flex;
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 430px;
    min-height: 330px;
    background-color: $white-color;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }

  &__btn {
    @include base-button;
    background-image: url(../images/icons/popup-btn-close.svg);
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -50px;
    right: -40px;
    transition: opacity .2s ease;

    &:hover {
      opacity: .6;
    }

    @media screen and (max-width: 540px) {
      right: 0;
      width: 26px;
      height: 26px;
    }
  }

  &__form {
    display: block;
  }

  &__form-edit-profile {
    padding: 0;
    border: none;
    margin: 0 36px;

    @media screen and (max-width: 480px) {
      margin: 0 22px;
    }
  }

  &__form-title {
    @include font;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: $main-color;
    padding-top: 34px;
    margin-bottom: 54px;

    @media screen and (max-width: 480px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__form-input-text {
    border: none;
    border-bottom: 1px solid rgba($main-color, $alpha: .2);
    width: 100%;
    max-width: 358px;
    min-height: 27px;
    margin-bottom: 30px;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $main-color;

    &:last-of-type {
      margin-bottom: 48px;
    }
  }

  &__form-submit-btn {
    border: none;
    width: 100%;
    max-width: 358px;
    min-height: 50px;
    padding: 0 20px;
    background-color: $main-color;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    color: $white-color;
    transition: background-color .3s ease;
    margin-bottom: 37px;

    &:hover {
      background-color: rgba($main-color, $alpha: .8)
    }

    @media screen and (max-width: 480px) {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 25px;
    }
  }
}
